@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <a href="/Account/Logout">Sign Out</a>

}

<div>
    <div>
        @Html.ActionLink("Add a Project", "AddProjectForm", "Project")
    </div>
    <div>
        @Html.ActionLink("Add a Project Membership", "AddUserMembership", "Project")
    </div>
    <div>
        @Html.ActionLink("Add a Endpoint Membership", "AddEndpointMembership", "Project")
    </div>
    <div>
        @Html.ActionLink("List All Projects", "GetAllProjects", "Project")
    </div>
    <div>
        @Html.ActionLink("Add a User", "AddUserForm", "User")
    </div>
    <div>
        @Html.ActionLink("List all Users", "GetAllUsers", "User")
    </div>
    <div>
        @Html.ActionLink("Add an Endpoint MVC", "AddEndpoint", "Endpoint")
    </div>
    <div>
        @Html.ActionLink("Add an Endpoint", "AddEndpointForm", "Endpoint")
    </div>
    <div>
        @Html.ActionLink("List all Endpoints", "GetAllEndpoints", "Endpoint")
    </div>
</div>

