@model List<BL.Models.ProjectApproval>


@{
    ViewData["Title"] = "ProjectApproval";
    //var projectsCount = Model.Count;
}

<div class="container-lg p-4">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="fs-3 mb-0">Unapproved Memberships</h1>

    </div>
    <hr class="d-flex mt-4 mb-5">
    <div class="table-responsive">
        <table id="projectList" class="table table-bordered table-striped no-head" caption="List of Projects">
            <thead><tr><td>Unapproved Memberships</td></tr></thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td class="card mb-2 p-3 bg-white shadow-sm border-1">

                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div>
                                    <a href="#"><h2 class="mb-0 fw-bold hover-underline fs-5"></h2></a>
                                    <p class="text-muted small mb-0">#[Project ID = @project.Id]</p>
                                    <a href="@Url.Action("EditProject", "Project",new{ProjectId=@project.Id})" class="btn btn-sm btn-outline-primary"><span class="small">Approve</span></a>
                                </div>
                                @*<div class="">
                            <a href="@Url.Action("GetProject", "Project", new { id = project.Id })#people" class="badge py-2 px-3 badge-lg bg-grey text-dark rounded-pill">
                            @project.Users.Count People
                            </a>
                            <a href="@Url.Action("GetProject", "Project", new { id = project.Id })#submissions" class="badge py-2 px-3 badge-lg bg-grey text-dark rounded-pill">
                            @project.Submissions.Count Submissions
                            </a>

                            </div>*@
                                <p>
                                    ProjectName: @project.Projectname

                                </p>
                                <p>
                                    UserName: @project.Username

                                </p>
                                <p>
                                    LocalProjectName: @project.LocalProjectName

                                </p>
                                <p>
                                    Approved: @project.Approved

                                </p>
                                <p class="text-muted fs-6 mb-0">
                                    ApprovedBy: @project.ApprovedBy
                                </p>






                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
