@model List<BL.Models.ProjectApproval>
@{
    ViewData["Title"] = "Projects Approval";
    var projectsCount = Model.Count;
}

<div class="container-lg p-4">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="fs-3 mb-0">Membership Approval</h1>

     
    </div>
    <hr class="d-flex my-4 mb-5">
    <div class="table-responsive">
        <table id="projectList" class="table table-bordered table-striped no-head" caption="List of Projects">
            <thead><tr><td>Membership Approval</td></tr></thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td class="card mb-2 p-3 bg-white shadow-sm border-1">

                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div>
                                    <a href="#">
                                        <h2 class="mb-0 fw-bold hover-underline fs-5">
                                            <a href="@Url.Action("GetProject", "Project", new { id = project.ProjectId })">@project.Projectname</a>
                                        </h2>
                                    </a>
                                    <p class="text-muted small mb-0">Project Id : @project.ProjectId</p>
                                </div>
                                <a href="@Url.Action("EditProject", "Project",new{Projectid=@project.Id})" class="btn btn-sm btn-outline-primary"><span class="small">Edit</span></a>
                            </div>
                        
                            <p class="text-muted fs-6 mb-0">
                                User Name: @project.Username <span class="mx-2"></span>Local Projectname: @project.LocalProjectName
                            </p>

                            <p class="text-muted fs-6 mb-0">
                                Approved : @project.Approved <span class="mx-2"></span>Approved By: @project.ApprovedBy
                            </p>




                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    @*<p>Showing @projectsCount results</p>*@
</div>
