@using System.Xml.XPath
@using BL.Models.Enums
@model List<BL.Models.TreMembershipDecision>
@{
    ViewData["Title"] = "Memberships";


}
<div class="container-lg p-4">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="fs-3 mb-0">Memberships</h1>

    </div>
    <ul class="nav nav-underline border-bottom my-4 memberships-menu">
        <li class="nav-item" role="presentation">
            <a href="@Url.Action("EditMemberships","Approval", new { projectId = 0, showOnlyUnprocessed = false })" class="nav-link text-dark">All Memberships</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="@Url.Action("EditMemberships","Approval", new { projectId = 0, showOnlyUnprocessed = true })" class="nav-link text-dark">
                Unprocessed Memberships
            </a>
        </li>
    </ul>
    <div class="table-responsive">

        <table id="memberList" class="table" caption="List of Memberships">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th>Decision</th>
                </tr>
            </thead>
            <tbody>
                @using (Html.BeginForm("EditMemberships", "Approval", FormMethod.Post, new { id = "frmMain" }))
                {
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                <strong>@Model[i].User.Username</strong>
                            </td>
                            <td>
                                @Model[i].Project.SubmissionProjectName
                                @if (Model[i].Archived)
                                {
                                    <span class="badge py-2 px-3 badge-lg bg-warning text-dark rounded-pill">
                                        Archived
                                    </span>
                                }
                            </td>
                            <td>
                                @if (Model[i].Decision == Decision.Undecided)
                                {
                                    @:This membership hasn't been processed yet
                                }
                                else
                                {
                                    @:Last Updated: @Model[i].LastDecisionDate by @Model[i].ApprovedBy
                                }
                            </td>
                            <td>
                                @Html.HiddenFor(x => x[i].Id)
                                @Html.RadioButtonFor(x => x[i].Decision, Decision.Approved)
                                @Html.Label(Decision.Approved.ToString())
                                @Html.RadioButtonFor(x => x[i].Decision, Decision.Rejected)
                                @Html.Label(Decision.Rejected.ToString())
                                @if (Model[i].Decision == Decision.Undecided)
                                {
                                    @Html.RadioButtonFor(x => x[i].Decision, Decision.Undecided)
                                    @Html.Label(Decision.Undecided.ToString())
                                }
                            </td>
                        </tr>
                        
                    }
                    <div class="hero-block-1">
                        <button type="submit" class="btn btn-sm btn-primary mb-3"><i class="fa fa-save me-2"></i><span class="small">Save Changes</span></button>
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>

