@Html.AntiForgeryToken()
@model List<BL.Models.EgressSubmission>
@{
    ViewData["Title"] = ViewBag.PageTitle;


}
    <div class="container-lg p-4">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="fs-3 mb-0">@ViewBag.PageTitle</h1>
        </div>
        <ul class="nav nav-underline border-bottom my-4 egress-menu">
            <li class="nav-item" role="presentation">
                @Html.ActionLink("Unprocessed Requests", "GetAllEgressesuUnprocessed", new {@class="nav-link text-dark"})
            </li>
            <li class="nav-item" role="presentation">
                @Html.ActionLink("All Requests", "GetAllEgresses", new { @class = "nav-link text-dark" })
            </li>
        </ul>
        <div class="table-responsive">
            <table id="fileList" class="table">
                <caption>List of Files</caption>
                <thead>
                <tr>
                    <th>Submission ID</th>
                    <th>Root Submission ID</th>
                    <th>Submission Name</th>
                    <th>Number of Files</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var egressSubmission in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("GetEgress", "Data", new { id = egressSubmission.Id })">
                                <h2 class="mb-0 fw-bold hover-underline fs-6">
                                    @egressSubmission.EgressID()
                                </h2>
                            </a>
                        </td>
                        <td>
                            @egressSubmission.tesId
                        </td>
                        <td>
                            @egressSubmission.Name
                        </td>
                        <td>
                            @egressSubmission.Files.Count
                        </td>
                        <td>
                            @egressSubmission.EgressStatusDisplay
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("GetEgress", "Data", new { id = egressSubmission.Id })" class="btn btn-sm btn-outline-primary"><span class="small">Review</span></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
