@model List<BL.Models.Submission>
@{
    ViewData["Title"] = "Submissions";
    var submissionCount = Model.Count;

}

<div class="container-lg mt-4 p-4 bg-white border-1 shadow-sm">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="fs-3 mb-0">Submissions</h1>
        @if (User.IsInRole("dare-control-admin"))
        {
            <a asp-controller="Submission" asp-action="Instructions" class="btn btn-primary btn-sm d-flex align-items-center">
                <i class="fa fa-info-circle align-middle me-2"></i>
                <span>Instructions</span>
            </a>
        }
    </div>
    <hr class="d-flex my-4">
    <div class="table-responsive">
        <table id="submissionList" class="table" caption="List of Submissions">
            <thead>
                <tr>
                    <th></th>
                    <th>Submission Name</th>
                    <th>Project</th>
                    <th>Submitted by</th>
                    <th>Submission Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var submission in Model)
                {
                    <tr>
                        <td>
                            @*@{
                                switch (submission.Status)
                                {
                                    case BL.Models.Enums.StatusType.DataOutApproved:
                                        <span class="badge bg-dark-blue rounded-pill">@submission.Status</span>
                                        break;
                                    default:
                                        <span class="badge bg-dark-blue rounded-pill">@submission.Status</span>
                                        break;
                                }
                            }*@
                            @{
                                var overallStatus = submission.Status;
                                if (overallStatus == BL.Models.Enums.StatusType.Completed)
                                {

                                    <h6 class="mb-0">
                                        <span class="badge bg-success rounded-pill d-inline-flex align-items-center" data-bs-toggle="tooltip" data-bs-title="Completed: @submission.EndTime">
                                            <i class="fa-solid fa-circle-check fs-6 text-white me-2"></i>
                                            <span>Completed</span>
                                        </span>
                                    </h6>
                                }
                                else if (overallStatus == BL.Models.Enums.StatusType.Failed)
                                {
                                    <h6 class="mb-0">
                                        <span class="badge bg-danger rounded-pill d-inline-flex align-items-center" data-bs-toggle="tooltip" data-bs-title="Failed: @submission.EndTime">
                                            <i class="fa-solid fa-triangle-exclamation fs-6 text-white me-2"></i>
                                            <span>Failed</span>
                                        </span>
                                    </h6>
                                }
                                else
                                {
                                    var runtime = DateTime.UtcNow - submission.StartTime;
                                    var displayRuntime = "";
                                    var displaySec = " seconds";
                                    var displayMin = " minutes";
                                    var displayHour = " hours";
                                    var displayDay = " days";

                                    if (runtime.TotalSeconds < 60)
                                    {
                                        if (runtime.Seconds == 1)
                                        {
                                            displaySec = " Second ";
                                        }
                                        else
                                        {
                                            displaySec = " Seconds ";
                                        }

                                        displayRuntime = @runtime.Seconds + displaySec;


                                    }
                                    else if (runtime.TotalMinutes < 60)
                                    {
                                        if (runtime.Minutes == 1)
                                        {
                                            displayMin = " Minute ";
                                        }
                                        else
                                        {
                                            displayMin = " Minutes ";
                                        }
                                        if (runtime.Seconds == 1)
                                        {
                                            displaySec = " Second ";
                                        }
                                        else
                                        {
                                            displaySec = " Seconds ";
                                        }
                                        displayRuntime = @runtime.Minutes + displayMin + @runtime.Seconds + " and " + displaySec;

                                    }
                                    else if (runtime.TotalHours < 24)
                                    {
                                        if (runtime.Hours == 1)
                                        {
                                            displayHour = " Hour ";
                                        }
                                        else
                                        {
                                            displayHour = " Hours ";
                                        }
                                        if (runtime.Minutes == 1)
                                        {
                                            displayMin = " Minute ";
                                        }
                                        else
                                        {
                                            displayMin = " Minutes ";
                                        }
                                        if (runtime.Seconds == 1)
                                        {
                                            displaySec = " Second ";
                                        }
                                        else
                                        {
                                            displaySec = " Seconds ";
                                        }


                                        displayRuntime = runtime.Hours + displayHour + @runtime.Minutes + displayMin + " and " + @runtime.Seconds + displaySec;
                                    }
                                    else
                                    {
                                        if (runtime.Days == 1)
                                        {
                                            displayDay = " Day ";
                                        }
                                        else
                                        {
                                            displayDay = " Days ";
                                        }
                                        if (runtime.Hours == 1)
                                        {
                                            displayHour = " Hour ";
                                        }
                                        else
                                        {
                                            displayHour = " Hours ";
                                        }
                                        if (runtime.Minutes == 1)
                                        {
                                            displayMin = " Minute ";
                                        }
                                        else
                                        {
                                            displayMin = " Minutes ";
                                        }
                                        if (runtime.Seconds == 1)
                                        {
                                            displaySec = " Second ";
                                        }
                                        else
                                        {
                                            displaySec = " Seconds ";
                                        }

                                        displayRuntime = runtime.Days + displayDay + runtime.Hours + displayHour + @runtime.Minutes + displayMin + " and " + @runtime.Seconds + displaySec;


                                    }
                                    <h6 class="mb-0">
                                        <span class="badge bg-primary rounded-pill d-inline-flex align-items-center" data-bs-toggle="tooltip" data-bs-title="Runtime: @displayRuntime">
                                            <i class="fa-solid fa-circle-notch fa-spin fs-6 text-white me-2"></i>
                                            <span>Running</span>
                                        </span>
                                    </h6>


                                }

                            }
@*
                            <i class="fa-solid fa-circle-check fs-5 text-success" data-bs-toggle="tooltip" data-bs-title="Completed: xx/xx/xxxx"></i>
                            <i class="fa-solid fa-triangle-exclamation fs-5 text-danger" data-bs-toggle="tooltip" data-bs-title="Failed: error message"></i>
                            <i class="fa-solid fa-circle-notch fa-spin fs-5 text-primary" data-bs-toggle="tooltip" data-bs-title="@submission.Status"></i>
                   *@     </td>
                        <td>
                            <a href="@Url.Action("GetASubmission", "Submission", new { id = submission.Id })">
                                <h2 class="mb-0 fw-bold hover-underline fs-6">
                                    @submission.TesName
                                    @*<span class="text-muted fw-normal fs-7 mb-0">
                                        ID: @submission.Id<br>
                                    </span>*@
                                </h2>
                            </a>
                            
                        </td>
                        <td>
                            @submission.Project.Name
                        </td>
                        <td>
                            @submission.SubmittedBy.Name
                        </td>
                        <td>
                            @submission.StartTime
                        </td>
                        <td>
                            <a href="@Url.Action("GetASubmission", "Submission", new { id = submission.Id })" class="btn btn-sm btn-outline-primary">
                                <span class="small">View</span>
                            </a>
                        </td>
                        @*<td class="card mb-2 p-3 bg-white shadow-sm border-1">

                            <div>
                                <p>TRE's submitted to: </p>
                                @{
                                    @foreach (var child in submission.Children)
                                    {

                                        var treName = @child.Tre?.Name.ToString();
                                        if (treName == null)
                                        {
                                            treName = "None";
                                        }
                                        <a href="@Url.Action("GetATre", "Tre", new { id = child.Tre.Id })" class="badge py-2 px-3 badge-lg bg-grey text-dark rounded-pill">@treName</a>

                                    }
                                }
                            </div>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>