@model BL.Models.Submission
@{
    ViewData["Title"] = "@Model.Name";


}


<div class="container-lg mt-4 p-4 bg-white border-1 shadow-sm">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h1 class="fs-3 mb-0">@*@Model.Name*@</h1>
            <p class="text-muted small mb-0">#@Model.Id</p>
        </div>

    </div>



    <div class="tab-content py-5" id="myTabContent">
        <div class="tab-pane fade show active" id="project" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div>
                            <a href="@Url.Action("GetASubmission", "Submission", new { id = Model.Id })">
                                <h2 class="mb-0 fw-bold hover-underline fs-5">
                                    @Model.TesName
                                </h2>
                            </a>
                            <p class="text-muted small mb-0">Submission ID: @Model.Id</p>
                            <a href="@Url.Action("GetProject", "Project", new { id = Model.Project.Id })">
                                <h2 class="mb-0 fw-bold hover-underline fs-5">
                                    @Model.Project.Name
                                </h2>
                            </a>
                            <a href="#">
                                <h2 class="mb-0 fw-bold hover-underline fs-5">
                                    <a href="@Url.Action("GetUser", "User", new { id = @Model.SubmittedBy.Id })">@Model.SubmittedBy.Name</a>
                                </h2>
                            </a>
                            @*TODO: talk to justin might need to add a submission time in the model*@

                            <p class="mb-0">Project Submission Date:  ADD A SUBMISSION DATE VAR</p>
                            <p class="mb-0">Children count: @Model.Children.Count</p>

                            <div>
                                <p>Overall Status: </p>
                                @{
                                    
                                    switch (Model.Status)
                                    {
                                    case BL.Models.SubmissionStatus.DataOutApproved:
                                    <h6><span class="badge bg-dark-blue rounded-pill">@Model.Status</span></h6>
                                    break;
                                    default:
                                    <h6><span class="badge bg-dark-blue rounded-pill">@Model.Status</span></h6>
                                    break;
                                    }
                                    }
                                </div>
                                <div>
                                    <p>TRE's Submitted To: </p>
                                    @{
                                    @foreach (var tre in Model.Children)
                                    {
                                        var endpointName = @tre.EndPoint?.Name.ToString();
                                        if (endpointName == null)
                                        {
                                            endpointName = "None";
                                        }
                                            //<p class="mb-0">@Model.EndPoint.Name</p>
                                        <p class="mb-0">@endpointName</p>
                                        
                                        switch (tre.Status)
                                        {

                                            case BL.Models.SubmissionStatus.DataOutApproved:
                                                <h6><span class="badge bg-dark-blue rounded-pill">@tre.Status</span></h6>
                                                break;

                                            default:
                                                <h6><span class="badge bg-dark-blue rounded-pill">@tre.Status</span></h6>
                                                break;
                                        }
                                        //@foreach (var tasks in Model.Tasks)
                                        //{
                                        //    <p class="mb-0">Name: @tasks.Name</p>
                                        //    switch (tasks.Status)
                                        //    {
                                        //        case BL.Models.SubmissionStatus.DataOutApproved:
                                        //            <h6><span class="badge bg-dark-blue rounded-pill">@Model.Status</span></h6>
                                        //            break;
                                        //        default:
                                        //            <h6><span class="badge bg-dark-blue rounded-pill">@Model.Status</span></h6>
                                        //            break;
                                        //    }

                                        //}

                                    }
                                }

                            </div>
                            <div>
                                Query: @Model.TesJson
                            </div>
                            <div>
                                <p>
                                    <a href="@Url.Action("GetProjectBuckets", "Project", new { id = Model.Project.Id })">@Model.Project.Name Buckets</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
