@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <a href="/Account/Logout">Sign Out</a>

}

<div>
    @Html.ActionLink("Add a Project", "AddProjectForm","Project")
    @Html.ActionLink("Add a Project Membership", "AddUserMembership","Project")
    @Html.ActionLink("Add a Project Membership", "AddEndpointMembership","Project")
    @Html.ActionLink("List All Projects", "GetAllProjects","Project")
    @Html.ActionLink("Add a User", "AddUserForm","User")
    @Html.ActionLink("Add a Project", "AddEndpointForm","Endpoint")
</div>
