@model BL.Models.DTO.ProjectUserEndpoint
@{
    ViewData["Title"] = "@Model.Name";


}

<div class="container-lg mt-4 p-4 bg-white border-1 shadow-sm">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h1 class="fs-3 mb-0">@Model.Name</h1>
            <p class="text-muted small mb-0">#@Model.Id</p>
        </div>
        <a href="@Url.Action("EditProject", "Project",new{Projectid=@Model.Id})" class="btn btn-primary btn-sm d-flex align-items-center">
            <i class="fa fa-edit align-middle me-2"></i>
            <span>Edit Project</span>
        </a>
    </div>
    <div class="mt-4">
        <ul class="nav nav-underline border-bottom" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="#about" class="nav-link text-dark active" id="about" data-bs-toggle="tab" data-bs-target="#project" role="tab" aria-controls="Project" aria-selected="true">About</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#submissions" class="nav-link text-dark" id="submissions" data-bs-toggle="tab" data-bs-target="#submissions-tab" role="tab" aria-controls="submissions" aria-selected="false">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>Submissions</span>
                        <span class="badge bg-dark-blue rounded-pill ms-2">@Model.Submissions.Count</span>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#people" class="nav-link text-dark" id="people" data-bs-toggle="tab" data-bs-target="#userMembership" role="tab" aria-controls="User Membership" aria-selected="false">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>People</span>
                        <span class="badge bg-dark-blue rounded-pill ms-2">@Model.Users.Count</span>
                    </div>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#tre" class="nav-link text-dark" id="tre" data-bs-toggle="tab" data-bs-target="#endpoint" role="tab" aria-controls="Endpoint" aria-selected="false">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>TREs</span>
                        <span class="badge bg-dark-blue rounded-pill ms-2">@Model.Endpoints.Count</span>
                    </div>
                </a>
            </li>
        </ul>


        <div class="tab-content py-5" id="myTabContent">
            <div class="tab-pane fade show active" id="project" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-muted fs-7">
                            Start Date: @Model.StartDate <span class="mx-2"></span>End Date: @Model.EndDate
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="submissions-tab" role="tabpanel" aria-labelledby="submissions">
                <p>
                    Minio URL: <a href="#">http://@Html.Raw(Model.MinioEndpoint)</a><br />
                    Submission Bucket: @Html.Raw(Model.SubmissionBucket)<br />
                    Output Bucket: @Html.Raw(Model.OutputBucket)
                </p>
                <p>List of submissions this project has...</p>
            </div>
            <div class="tab-pane fade" id="userMembership" role="tabpanel" aria-labelledby="people">
                <div class="row">
                    <div class="col-12">
                        <ul class="list-group">
                            @foreach (var user in Model.Users)
                            {
                                <li class="list-group-item">
                                    <a href="@Url.Action("GetUser", "User", new { id = user.Id })">@user.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="endpoint" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                @foreach (var endpoint in Model.Endpoints)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("GetAnEndpoint", "Endpoint", new { id = endpoint.Id })">@endpoint.Name</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>